body {
    background-image: url(../images/bg-repeat.jpg);
    height: 100vh;
    background-size: contain;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.direita {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.titulo-principal {
    color: #FFF;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 11px;
}

.texto-principal {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.esquerda {
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: #FFF;
    margin-top: 250px;
    padding: 40px 20px;
}

.campo {
    margin-top: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    padding-left: 9px;
}

textarea {
    padding-bottom: 50px;
    padding-top: 5px;
}

.obrigatorio {
    font-size: 12px;
    font-weight: 400;
    color: #F52E2E;
    cursor: default;
    opacity: 0;
}

.mostrar {
    opacity: 1;
}

p {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

.botao {
    cursor: pointer;
    padding: 15px 125px;
    margin-top: 25px;
    color: #FFF;
    background-color: #3CCC87;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

.campo-preenchido {
    border: 1px solid #00C22B;
}

.campo-nao-preenchido {
    border: 1px solid #F52E2E;
}